In [3]:
a='india'

In [4]:
a

'india'

In [5]:
a.upper()

'INDIA'

In [7]:
a.isdigit()

False

In [8]:
  my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [9]:
my_list = list(range(1, 6))  # Creates a list [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [10]:
my_list = [1, "Hello", 3.14, True]
print(my_list)

[1, 'Hello', 3.14, True]

In [14]:
d = {} 
d[101] = {50: [7, 8, 9, 10], 'apple': (20, 30, 70, 90, 100, 200)}

In [18]:
d

{101: {50: [7, 8, 9, 10], 'apple': (25, 35, 45, 55, 65, 75)}}

In [20]:
d[105]={'a':{20,50,70},'b':(100,2000,3000,9000),'c':['k',{'L':[11,22],'M':(77,88)},'N']}

In [21]:
d

{101: {50: [7, 8, 9, 10], 'apple': (25, 35, 45, 55, 65, 75)},
 105: {'a': {20, 50, 70},
  'b': (100, 2000, 3000, 9000),
  'c': ['k', {'L': [11, 22], 'M': (77, 88)}, 'N']}}

In [22]:
d[107]={'z':{'india'}}

In [23]:
d

{101: {50: [7, 8, 9, 10], 'apple': (25, 35, 45, 55, 65, 75)},
 105: {'a': {20, 50, 70},
  'b': (100, 2000, 3000, 9000),
  'c': ['k', {'L': [11, 22], 'M': (77, 88)}, 'N']},
 107: {'z': {'india'}}}

In [24]:
d = {
    101: {50: [7, 8, 9, 10], 'apple': (25, 35, 45, 55, 65, 75)},
    105: {
        'a': {20, 50, 70},
        'b': (100, 2000, 3000, 9000),
        'c': ['k', {'L': [11, 22], 'M': (77, 88)}, 'N']
    },
    107: {'z': {'india'}}
}

In [25]:
d

{101: {50: [7, 8, 9, 10], 'apple': (25, 35, 45, 55, 65, 75)},
 105: {'a': {20, 50, 70},
  'b': (100, 2000, 3000, 9000),
  'c': ['k', {'L': [11, 22], 'M': (77, 88)}, 'N']},
 107: {'z': {'india'}}}

In [30]:

d[101]['apple'][2]

45