In [1]:
x=9


while x<10:
 print("yes")
 x=x+1

yes

In [27]:
dollars=[10,20,3,0,90,5,0,80,75,45,65,55]

In [35]:
dollars

[10, 20, 3, 0, 90, 5, 0, 80, 75, 45, 65, 55]

In [55]:
inr = 85.0
dollars = [10,20,3,0,90,5,0,80,75,45,65,55]
inr_list = [dollars * inr for dollars in dollars]
print("INR:", inr_list)

INR: [850.0, 1700.0, 255.0, 0.0, 7650.0, 425.0, 0.0, 6800.0, 6375.0, 3825.0, 5525.0, 4675.0]

num'

In [79]:
num=[31,45,66,33,90,78,67,87,89,93,25,59,9,81]
list_1 =[num%2==0 for num in num]
list_2 =[num%2==1 for num in num]
print("even",list_1)
print("odd",list_2)

even [False, False, True, False, True, True, False, False, False, False, False, False, False, False]
odd [True, True, False, True, False, False, True, True, True, True, True, True, True, True]

In [100]:
j=[]
k=[]
for i in num:q
 if i%2==0
     j.append(i)
 else:

     k.append(i)

IndentationError: unexpected indent (1504156363.py, line 4)

In [93]:
j

[66, 90, 78]

In [87]:
k

[31, 45, 33, 67, 87, 89, 93, 25, 59, 9, 81]

In [114]:
u = []
num = [39, 45, 39, 69, 87, 89, 93, 25, 59, 9, 81]

for i in num:
    u.append(str(i))

print(u)

['39', '45', '39', '69', '87', '89', '93', '25', '59', '9', '81']

In [122]:
num = [39, 45, 39, 69, 87, 89, 93, 25, 59, 9, 81]
u = [str(i) for i in num]  
u = ['31' if i == '39' else i for i in u]

print(u)

['31', '45', '31', '69', '87', '89', '93', '25', '59', '9', '81']